@charset "utf-8";
/* 
	@名称: base
	@功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html { color: #1d1f20; background: #fff; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow-x: hidden; }
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, bottomPane, header, hgroup, menu, nav, section { margin: 0; padding: 0; }
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, bottomPane, header, hgroup, menu, nav, section { display: block; }
/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video { display: inline-block; *display: inline;
*zoom: 1;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea { font: 14px/1.5 'microsoft yahei', sans-serif; }
input, select, textarea { font-size: 100%; -webkit-appearance: none;}
/* 去掉各Table  cell 的边距并让其边重合 */
table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; empty-cells: show; border-collapse: collapse; }
/* IE bug fixed: th 不继承 text-align*/
th { text-align: inherit; }
/* 去除默认边框 */
fieldset, img { border: 0; }
/* ie6 7 8(q) bug 显示为行内表现 */
iframe { display: block; }
/* 去掉 firefox 下此元素的边框 */
abbr, acronym { border: 0; font-variant: normal; }
/* 一致的 del 样式 */
del { text-decoration: line-through; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 500; }
/* 去掉列表前的标识, li 会继承 */
ol, ul { list-style: none; }
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th { text-align: left; }
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }
q:before, q:after { content: ''; }
/* 统一上标和下标 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* 默认不显示下划线，保持页面简洁 */
ins, a { text-decoration: none; }
/* 清理浮动 */
.fn-clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.fn-clear { zoom: 1; /* for IE6 IE7 */ }
/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide { display: none; }
html, body { min-height: 100%; background-color: #fff; width: 100%;}
/* 设置内联, 减少浮动带来的bug */
.fn-left, .fn-right { display: inline; }
.fn-left { float: left; }
.fn-right { float: right; }
.fL { float: left; }
.fR { float: right; }
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
/*--公共--*/
.img-responsive {
/* _width: expression(this.width > 100% ? '100%': true); _display: inline-block; */ 
 max-width: 100%; height: auto; vertical-align: bottom;}
.txt-center{text-align:center;}
/*common*/

.button {border: 1px solid #dee1e3; border-radius: 4px; overflow: hidden;
  background: #fff url(../images/down-arrow.png) no-repeat 98% 5px;; font-size: 14px;}
/* --------------  */
/*  custom-select  */
/* --------------  */
.custom-select {position: relative;}
.custom-select select {
  width:100%;
  margin:0;
  background: transparent;
  border: none;
  outline: none;
  /* Remove select styling */
  appearance: none;
  -webkit-appearance: none;
  /* General select styles: change as needed */
  color: #000;
  padding: 0 10px;
  line-height: 30px;
}
.custom-select::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  right: 8px;
  margin-top:-4px;
  border:8px solid #929497;
  border-width: 8px 5px 8px;
  border-color: #929497 transparent transparent transparent;
  z-index: 2;
  pointer-events:none;
  display: none;
}
/* Hover style */
.custom-select:hover {
  border:1px solid #888;
}
/* Focus style */
.custom-select select:focus {
  outline:none;
  box-shadow: 0 0 1px 3px rgba(180,222,250, 1);
  background-color:transparent;
  color: #222;
  border:1px solid #aaa;
}
/* Set options to normal weight */
.custom-select option {
  font-weight:normal;
}
x:-o-prefocus, .custom-select::after {
  display:none;
}    
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .custom-select select::-ms-expand {
    display: none;
  }
  .custom-select select:focus::-ms-value {
    background: transparent;
    color: #222;
  }
}  
@-moz-document url-prefix() { 
  .custom-select {
    overflow: hidden;
  }
  .custom-select select {
    width: 120%;
    width: -moz-calc(100% + 3em);
    width: calc(100% + em);
  }
  
}
.custom-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* form common */
.formBox{padding-top:40px;}
.formBox .contHalf-lt{float:left;}
.formBox .contHalf-rt{float:right;}
.formBox .formLabel{margin-bottom:12px; font-size:18px;}
.formBox .txtWrap{color:#999; padding:0 18px 10px; font-size:14px;}
.formBox .redioWrap{height:48px; border-top:1px dashed #CCC; border-bottom:1px dashed #CCC; padding:0 18px; line-height:48px;}
.formBox .inputRadio , .inputRadio{position:absolute; left:0; top:0; vertical-align:middle; opacity:0; filter:alpha(opacity=0);}
.formBox .mnRadioWrap , .mnRadioWrap, .onlyRadioWrap{font-style:normal;}
.formBox .mnRadio , .mnRadio {display:inline-block; position:relative; width:11px; height:11px; background-color:#CCC; vertical-align:middle; border-radius:20px;}
.formBox .mnRado-active , .mnRado-active{background-color:#333;}
.formBox .radLabel{padding:0 28px 0 10px; color:#999; font-size:14px; vertical-align:middle;}
.formBox .inputWrap{border:1px solid #CCC; padding:0 18px;}
.formBox .inputTxt{width:95%; height:48px; line-height:48px; border:0; font-size:14px; outline:0;}
.formBox .contHalf-lt,
.formBox .contHalf-rt,
.formBox .contHalf-lt > .fL , .formBox .contHalf-lt > .fR,
.formBox .contHalf-rt > .fL , .formBox .contHalf-rt > .fR
{width:47.727%;}
.formBox .contHalf-lt , .formBox .contHalf-rt{padding-bottom:16px;}
.btn{display:inline-block; width:100%; height:48px; border:1px solid #000; line-height:48px; color:#333; font-size:18px; text-align:center; font-weight:700;}


/* FlexSlider Necessary Styles */
.flexslider{margin:0;padding:0}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden}
.flexslider .slides img{width:100%;display:block}
.flex-pauseplay span{text-transform:capitalize}

/* Clearfix for the .slides element */
.slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0}
html[xmlns] .slides{display:block}
* html .slides{height:1%}

/* No JavaScript Fallback */
.no-js .slides > li:first-child{display:block}

/* FlexSlider Default Theme */
.flexslider{position:relative;zoom:1}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}
.loading .flex-viewport{max-height:300px}
.flexslider .slides{zoom:1}
.carousel li{margin-right:5px}

/* Pause/Play */
.flex-pauseplay a{display:block;width:20px;height:20px;position:absolute;bottom:5px;left:10px;opacity:0.8;z-index:10;overflow:hidden;cursor:pointer;color:#000}
.flex-pauseplay a:before{font-family:"flexslider-icon";font-size:20px;display:inline-block;content:'\f004'}
.flex-pauseplay a:hover{opacity:1}
.flex-pauseplay a.flex-play:before{content:'\f003'}

/* Control Nav */
.flex-control-nav{width:100%;position:absolute;bottom:20px;text-align:center; z-index: 16;}
.flex-control-nav li{margin:0 3px;display:inline-block;zoom:1;*display:inline}
.flex-control-paging li a{width:13px;height:13px;display:block;background:#8c949b;cursor:pointer;text-indent:-9999px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-o-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);box-shadow:inset 0 0 3px rgba(0,0,0,0.3)}
.flex-control-paging li a:hover{background:#0099da;}
.flex-control-paging li a.flex-active{background:#0099da;cursor:default}

.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden}
.flex-control-thumbs li{width:25%;float:left;margin:0}
.flex-control-thumbs img{width:100%;display:block;opacity:.7;cursor:pointer}
.flex-control-thumbs img:hover{opacity:1}
.flex-control-thumbs .flex-active{opacity:1;cursor:default}

/* sprite */
.navBars em, .loadMore em, .footerNav li em, .searchBar a.ico-search, #nav li em, .navBars i, .ddl em, a.ico-cart em, #add, #min, ul.stars li em, .reviewPic ul li em, .sortBy a em, .close em, a.back em, span.checkbox.checked em, .memberList li em {display: inline-block; background: url(../images/sprite.png) no-repeat; cursor: pointer;}

/* form elements */
span.checkbox {width: 20px; height: 20px; display:inline-block; cursor: pointer; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border: 1px solid #dee1e3; text-align: center; background-color: #fff; margin-right: 5px;}
span.checkbox.checked {background-color: #0099da; border: 1px solid #0099da;}
span.checkbox.checked em {background-position: -243px -127px; width: 12px; height: 11px; top: -2px; position: relative;}

.formStyle {font-size: 14px;}
.formStyle >div {margin: 6px 0; float: left; width: 100%;}
.formStyle label {display: inline-block; min-width: 60px; padding-right: 5px; float: left; line-height: 30px;}
.formStyle input[type='text'] {float: left; border-radius: 4px; border: 1px solid #dee1e3; background: #fff; padding: 0 10px; height: 30px; line-height: 30px; margin-right: 10px;}
textarea {border-radius: 4px; border: 1px solid #bdc3c6; background: #fff; padding: 0 10px; box-sizing: border-box;}

/* whiteBar */
.whiteBar {background: #fff; height: 74px; box-sizing: border-box; padding: 0 30px; z-index: 45; position: relative;}
.shanghaiVW {padding-top: 17px;}
.DasAuto {padding: 13px 7px 0 0;}

/* grayBar */
.grayBar {border-top: 4px solid #a9b7b7; background: #dee1e3; height: 71px; padding: 20px 37px 21px 30px; box-sizing: border-box; font-size: 15px; line-height: 2; color: #808890; font-weight: bold; z-index: 50; width: 640px; box-shadow: 0 7px 10px rgba(0,0,0,.1);}
.grayBar a {color: #808890;}
.vwClub {background: url(../../images/vwClub.png) no-repeat 0 0; padding-left: 90px;  }
.navBars em {background-position: -44px 0; width: 33px; height: 27px;}
.navBars.active em, .navBars i {display: none;}
.navBars.active i {display: inline-block; width: 33px; height: 27px; background-position: -44px -45px;}
.welcome {padding-right: 28px;}

/* navPanel */
.navPanel {display: none; background: #fff; height: 100vh; position: fixed; top: 0; width: 640px; margin: 0 auto; z-index: 40; padding-top: 145px;}
.navWidth {padding: 0 35px;}
.searchBar {width: 100%; height: 38px; line-height: 38px; box-sizing: border-box; border: 1px solid #a2a8ae; border-radius: 6px; padding: 0 20px; margin: 33px 0 10px 0;}
.searchBar input {border: 0; background: transparent; width: 500px; height: 38px; line-height: 38px;  float: right; font-size: 16px; color: #333;}
.searchBar a.ico-search {float: left; display: inline-block; width: 20px; height: 20px; background-position: -187px -88px; top: 9px; position: relative;}

#nav {z-index: 41; position: relative;}
#nav li {padding: 0px 30px; border-bottom: 2px solid #808890;}
#nav li em {display: inline-block; position: relative; margin-right: 20px;}
#nav li#n1 em {background-position: -4px -72px; width: 36px; height: 48px; top: 20px;}
#nav li#n2 em {background-position: -48px -77px; width: 36px; height: 36px; top: 14px;}
#nav li#n3 em {background-position: -94px -88px; width: 36px; height: 28px; top: 17px;}
#nav li#n4 em {background-position: -141px -78px; width: 36px; height: 36px; top: 18px;}
#nav li a {font-size: 16px; color: #808890; display: inline-block; line-height: 90px; height: 90px;}
#nav li.active a {color: #0099da;}
#nav li#n1.active em {background-position: -4px -123px;}
#nav li#n2.active em {background-position: -48px -128px;}
#nav li#n3.active em {background-position: -94px -139px;}
#nav li#n4.active em {background-position: -141px -129px;}
.secondNav {display: none; z-index: 42; position: absolute; background: #f3f5f6; width: 50%; right: 0; top: 0; height: 100%; box-sizing: border-box; padding: 240px 35px 0 35px;}
.secondNav > div {display: none;}
.secondNav a {display: block; width: 100%; padding: 0px 30px; border-bottom: 2px solid #808890; height: 50px; line-height: 50px; box-sizing: border-box; font-size: 16px; color: #808890;}

/* headline */
h3.title {color: #1d1f20; font-size: 22px; line-height: 1.2; text-align: center; padding: 20px 0;}

/* main Content */
.mainContent {width:100%; box-sizing: border-box; position: relative; z-index: 15; padding-bottom: 98px;}
.pageWidth { width: 640px; margin: 0 auto; position: relative;}
.paddings {padding-left: 37px; padding-right: 37px;}
.gray {background: #f3f5f6;}

/* load more */
.loadMore {display: inline-block; margin: 5px auto 15px; color: #0099da; font-size: 14px;}
.loadMore em {background-position: -45px -33px; width: 11px; height: 10px; margin-right: 4px;}


/* footer */
.footer {background: #fff; position: fixed; bottom: 0; left: 0; width: 100%; padding: 22px 40px; box-shadow: 0 -7px 13px rgba(0,0,0,.1); height: 98px; z-index: 50; text-align: center; box-sizing: border-box; }
.footerNav {margin:  0 auto;}
.footerNav li {display: inline-block; width: 25%; text-align: center; float: left;}
.footerNav li a {font-size: 12px; color: #808890;}
.footerNav li a:hover, .footerNav li.active a {color: #0099da;}
.footerNav li em {display: block; margin: 0 auto 6px;}
.footerNav li.nav1 em {width: 24px; height: 35px; background-position: -80px -1px;}
.footerNav li.nav2 em {width: 32px; height: 35px; background-position: -111px -1px;}
.footerNav li.nav3 em {width: 24px; height: 35px; background-position: -152px -1px;}
.footerNav li.nav4 em {width: 24px; height: 35px; background-position: -186px -1px;}
.footerNav li.nav5 em {width: 30px; height: 35px; background-position: -218px -1px;}

.footerNav li.nav1.active em, .footerNav li.nav1:hover em {width: 24px; height: 35px; background-position: -80px -37px;}
.footerNav li.nav2.active em, .footerNav li.nav2:hover em {width: 32px; height: 35px; background-position: -111px -37px;}
.footerNav li.nav3.active em, .footerNav li.nav3:hover em {width: 24px; height: 35px; background-position: -152px -37px;}
.footerNav li.nav4.active em, .footerNav li.nav4:hover em {width: 24px; height: 35px; background-position: -186px -37px;}
.footerNav li.nav5.active em, .footerNav li.nav5:hover em {width: 30px; height: 35px; background-position: -218px -37px;}

/* table style */
.tableStyle {border-collapse: collapse; table-layout: auto;}
.tableStyle th {background: #bdc3c6; padding: 20px 0; text-align: center; font-size: 14px; font-weight: bold; line-height: 35px; color: #1d1f20;}
.tableStyle td {font-size: 14px; line-height: 28px; padding:  6px 0; text-align: center; color: #1d1f20;}

/* buttons */
.blueBtn {background: #0099da; color: #fff; font-size: 16px; line-height: 26px; padding: 0 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.blueBtn:hover {text-decoration: underline;}

/* stars */
ul.stars {}
ul.stars li {display: inline-block; *display: inline;}
ul.stars li em {display: inline-block; background-position: -268px -102px; width: 16px; height: 16px; margin: 0 3px; cursor: pointer;}
ul.stars li.active em {background-position: -248px -102px;}

/* form style*/
input.blue.button {cursor: pointer; border: none; background: #0099da; padding: 0px 30px; line-height: 28px; height: 28px; color: #fff; font-size: 14px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
