@charset "utf-8";
.pcs-content {
  border-top: #b41521 2px solid;
}
.pcs-content .bread_crumbs {
  font-size: 12px;
  padding: 12px 0;
}
.pcs-content .bread_crumbs .f16 {
  font-size: 16px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap {
  float: left;
  width: 500px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .picbig {
  width: 498px;
  height: 498px;
  border: 1px solid #ddd;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .picbig .bx-wrapper {
  margin: 0 auto;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .picbig ul {
  margin: 0;
  padding: 0;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .picbig ul li {
  list-style: none;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .picbig ul li img {
  width: 498px;
  height: 498px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .pagercont {
  margin: 16px 21px 0;
  height: 80px;
  width: 464px;
  overflow: hidden;
  position: relative;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap #bx-pager {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms linear;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap #bx-pager a {
  float: left;
  list-style: none;
  border: 1px solid #e6e6e6;
  margin-left: 10px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap #bx-pager a img {
  width: 78px;
  height: 78px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap #bx-pager a.active {
  border-color: #fd9b2b;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .bx-wrapper .bx-controls-direction a {
  top: 100%;
  margin-top: 17px;
  width: 16px;
  height: 78px;
  border: 1px solid #ccc;
  background: url(../../images/pic-btn.png) no-repeat;
  background-color: #fff;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .bx-wrapper .bx-controls-direction a.bx-prev {
  background-position: 0 -30px;
  left: 0;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .bx-wrapper .bx-controls-direction a.bx-prev.bx-none {
  background-position: 0 28px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .bx-wrapper .bx-controls-direction a.bx-next {
  right: 0;
  background-position: -16px -30px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .bx-wrapper .bx-controls-direction a.bx-next.bx-none {
  background-position: -16px 28px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .share {
  float: left;
  margin-top: 15px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .share span,
.pcs-content .goodsdetail .goodsinfo .imgwrap .share a {
  display: block;
  float: left;
  line-height: 36px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .share a {
  padding-right: 6px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .collection {
  margin-top: 15px;
  float: right;
  line-height: 24px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .collection .ico_collect {
  width: 24px;
  height: 23px;
  display: inline-block;
  background-image: url("../../images/ico_sequence.png");
  background-repeat: no-repeat;
  background-position: 0 -14px;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .collection .ico_collect.keep {
  background-position: 0 -37px;
}
.pcs-content .goodsdetail .goodsinfo .imgwrap .collection span {
  display: inline-block;
}
.pcs-content .goodsdetail .goodsinfo .infowrap {
  width: 488px;
  float: left;
  margin-left: 20px;
}
.pcs-content .goodsdetail .goodsinfo .infowrap h3 {
  font-size: 18px;
  line-height: 24px;
  color: #333;
  margin: 0 0 6px;
  font-weight: normal;
}
.pcs-content .goodsdetail .goodsinfo .infowrap p {
  line-height: 32px;
  font-size: 14px;
  color: #666;
  vertical-align: baseline;
  margin: 0;
}
.pcs-content .goodsdetail .goodsinfo .infowrap p em {
  font-style: normal;
  text-decoration: line-through;
}
.pcs-content .goodsdetail .goodsinfo .infowrap p b {
  color: #dd1827;
  font-size: 24px;
}
.pcs-content .goodsdetail .goodsinfo .infowrap p a {
  padding-left: 8px;
}
.pcs-content .goodsdetail .goodsinfo .infowrap .priceinfo {
  background: #f4f4f4;
  border: 1px solid #e6efed;
  padding: 12px;
  margin: 10px 0 16px;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl {
  margin: 0;
  padding: 7px 0;
  line-height: 28px;
  font-size: 14px;
  color: #666;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl:nth-last-of-type(1) {
  padding-top: 0;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl:nth-last-of-type(2) {
  padding-bottom: 0;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dt {
  float: left;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd {
  margin: 0;
  padding-left: 72px;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd a {
  display: inline-block;
  text-align: center;
  margin-right: 15px;
  line-height: 26px;
  border: 2px solid #ddd;
  color: #666;
  padding: 0 10px;
  margin-bottom: 20px;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd a.active {
  border-color: #dd1827;
  position: relative;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd a.active i {
  position: absolute;
  width: 16px;
  height: 16px;
  right: -2px;
  bottom: -2px;
  background: url(../../images/cur_ico.png) no-repeat;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num .tAmount {
  float: left;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num .tAmount .tAmountVal,
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num .tAmount .tMinus,
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num .tAmount .tPlus {
  display: block;
  float: left;
  cursor: pointer;
  padding: 0;
  border: 1px solid #ccc;
  width: 26px;
  height: 26px;
  overflow: hidden;
  outline: 0;
  vertical-align: middle;
  line-height: 26px;
  font-size: 14px;
  margin: 0;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num .tAmount .tAmountVal {
  width: 48px;
  border-width: 1px 0;
  text-align: center;
  cursor: text;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num .tAmount .tMinus,
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num .tAmount .tPlus {
  color: #999;
  background: #ededed;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num .tAmount .tMinus:hover,
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num .tAmount .tPlus:hover {
  color: #333333;
  border-color: #9b9b9b;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num .tAmount .tOff,
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num .tAmount .tOff:hover {
  color: #ccc;
  cursor: not-allowed;
  border-color: #dbdbdb;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num em {
  padding-left: 20px;
}
.pcs-content .goodsdetail .goodsinfo .infowrap dl dd .num em i {
  font-style: normal;
}
.pcs-content .goodsdetail .goodsinfo .infowrap .btns {
  font-size: 18px;
  line-height: 45px;
  padding: 12px 0 0;
}
.pcs-content .goodsdetail .goodsinfo .infowrap .btns a {
  display: inline-block;
  width: 181px;
  text-align: center;
  margin-right: 20px;
  border: 1px solid #e74e4e;
}
.pcs-content .goodsdetail .goodsinfo .infowrap .btns a.add {
  color: #e74e4e;
  background: #fdeded;
}
.pcs-content .goodsdetail .goodsinfo .infowrap .btns a.buy {
  background: #e74e4e;
  color: #fff;
}
.pcs-content .goodsdetail .goodsinfo .shopinfo img {
  border: 1px solid #ddd;
  width: 168px;
  height: 64px;
}
.pcs-content .goodsdetail .goodsinfo .shopinfo span {
  display: block;
  line-height: 36px;
  text-align: center;
}
.pcs-content .goodsdetail .goodsinfo .shopinfo a {
  display: block;
  line-height: 42px;
  padding-left: 75px;
  margin-top: 30px;
  background: url("../../images/kf-icon-b.png") no-repeat;
  background-position: 30px 0;
}
.pcs-content .goodsdetail .goodsrecommend {
  margin-top: 20px;
}
.pcs-content .goodsdetail .goodsrecommend h3 {
  margin: 0;
  font-size: 22px;
  line-height: 38px;
  border-bottom: 2px solid #19a7df;
  padding-left: 28px;
  font-weight: normal;
  background: url(../../images/tj_title-bg.png) no-repeat;
}
.pcs-content .goodsdetail .goodsrecommend .recommend-list {
  padding: 10px 0 20px;
}
.pcs-content .goodsdetail .goodsrecommend .recommend-list .m-recommend {
  width: 193px;
  border: 1px solid #e9e9e9;
  float: left;
  margin-right: 6px;
}
.pcs-content .goodsdetail .goodsrecommend .recommend-list .m-recommend:last-child {
  margin: 0;
}
.pcs-content .goodsdetail .goodsrecommend .recommend-list .m-recommend img {
  width: 193px;
  height: 193px;
}
.pcs-content .goodsdetail .goodsrecommend .recommend-list .m-recommend h4 {
  margin: 0;
  line-height: 22px;
  font-size: 12px;
  font-weight: normal;
  padding: 0 10px;
}
.pcs-content .goodsdetail .goodsrecommend .recommend-list .m-recommend p {
  color: #dd1827;
  font-size: 16px;
  line-height: 30px;
  padding: 0 10px 10px;
}
.pcs-content .goodsdetail .goods-left {
  float: left;
  width: 249px;
}
.pcs-content .goodsdetail .goods-left .m-left {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-top: 2px solid #dd1827;
}
.pcs-content .goodsdetail .goods-left .m-left h4 {
  background: #efefef;
  line-height: 40px;
  margin: 0;
  padding-left: 8px;
  border: 1px solid #f3f3f4;
  font-size: 16px;
  font-weight: normal;
}
.pcs-content .goodsdetail .goods-left .m-left ul {
  padding: 6px 15px;
}
.pcs-content .goodsdetail .goods-left .m-left ul li {
  line-height: 20px;
  font-size: 12px;
}
.pcs-content .goodsdetail .goods-left .m-left .m-pro {
  border-bottom: solid #f3f3f4 1px;
}
.pcs-content .goodsdetail .goods-left .m-left .m-pro:last-child {
  border: 0;
}
.pcs-content .goodsdetail .goods-left .m-left .m-pro img {
  width: 247px;
  height: 247px;
}
.pcs-content .goodsdetail .goods-left .m-left .m-pro h5 {
  margin: 0;
  line-height: 22px;
  font-weight: normal;
  height: 44px;
  overflow: hidden;
  padding: 0 10px;
  font-size: 14px;
}
.pcs-content .goodsdetail .goods-left .m-left .m-pro p {
  color: #dd1827;
  font-size: 18px;
  line-height: 28px;
  padding: 0 10px 10px;
}
.pcs-content .goodsdetail .goods-left .m-left .m-his {
  padding: 15px 9px;
  border-bottom: solid #f3f3f4 1px;
}
.pcs-content .goodsdetail .goods-left .m-left .m-his:last-child {
  border: 0;
}
.pcs-content .goodsdetail .goods-left .m-left .m-his img {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
.pcs-content .goodsdetail .goods-left .m-left .m-his h5 {
  line-height: 18px;
  font-size: 12px;
  margin: 0;
  font-weight: normal;
  height: 40px;
  overflow: hidden;
}
.pcs-content .goodsdetail .goods-left .m-left .m-his p {
  color: #dd1827;
  font-size: 18px;
  line-height: 20px;
}
.pcs-content .goodsdetail .goods-right {
  float: right;
  width: 941px;
  margin-bottom: 20px;
}
.pcs-content .goodsdetail .goods-right .titles {
  margin: 0;
  background: #efefef;
  border-top: 2px solid #dd1827;
}
.pcs-content .goodsdetail .goods-right .titles ul {
  margin: 0;
  line-height: 42px;
  padding: 0;
}
.pcs-content .goodsdetail .goods-right .titles ul li {
  position: relative;
  float: left;
  list-style: none;
  padding: 0 25px;
  font-size: 16px;
}
.pcs-content .goodsdetail .goods-right .titles ul li.cur {
  background: #dd1827;
}
.pcs-content .goodsdetail .goods-right .titles ul li.cur a {
  color: #fff;
}
.pcs-content .goodsdetail .goods-right .conts {
  padding: 0;
}
.pcs-content .goodsdetail .goods-right .conts .details {
  padding: 10px 20px;
  display: block;
}
.pcs-content .goodsdetail .goods-right .conts .details dl {
  margin: 0;
  float: left;
  font-size: 12px;
  line-height: 30px;
  min-width: 300px;
}
.pcs-content .goodsdetail .goods-right .conts .details dl dt {
  float: left;
}
.pcs-content .goodsdetail .goods-right .conts .details dl dd {
  margin: 0;
  float: left;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates {
  display: none;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva {
  border-bottom: 1px solid #f3f3f4;
  padding: 28px 30px 15px;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva:last-child {
  border-bottom: 0;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva .user-header {
  float: left;
  width: 85px;
  margin-right: 52px;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva .user-header img {
  margin: 0 auto 10px;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva .user-header span {
  display: block;
  line-height: 24px;
  text-align: center;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva .user-eva {
  float: left;
  width: 760px;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva .user-eva .star {
  line-height: 36px;
  margin-bottom: 4px;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva .user-eva .star i {
  color: #d5d5d5;
  font-size: 14px;
  padding-right: 6px;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva .user-eva .star i.act {
  color: #ff8033;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva .user-eva .star span {
  color: #ff8033;
  padding-left: 10px;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva .user-eva p {
  margin: 0 0 11px;
  color: #333;
  line-height: 20px;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva .user-eva p span {
  color: #999;
  display: inline-block;
  padding-right: 66px;
}
.pcs-content .goodsdetail .goods-right .conts .evaluates .m-eva .user-eva p span em {
  font-style: normal;
}
.pcs-content .goodsdetail .goods-right .conts .questions {
  display: none;
}
.pcs-content .goodsdetail .goods-right .conts .questions .m-que {
  padding: 25px 26px 8px;
}
.pcs-content .goodsdetail .goods-right .conts .questions .m-que h4 {
  margin: 0;
  color: #009688;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}
.pcs-content .goodsdetail .goods-right .conts .questions .m-que p {
  margin: 0;
  color: #333;
  font-size: 14px;
  line-height: 24px;
}
.pcs-content .goodsdetail .goods-right .conts .aptitude {
  display: none;
}
/*# sourceMappingURL=detail.css.map */
