@charset "utf-8";
// 主色调
@main-color: #dd1827;
@main-deep-color: #b41521;
@main-light-color: #e34449;
// 文字默认颜色\大小
@font-color: #666666;
@font-size: 14px;
// 页面背景
@bg-color: #fff;
//页面主体宽度
@page-width: 1200px;
//首页主体部分
.pcs-content {
    border-top: @main-deep-color 2px solid;
    .bread_crumbs {
        font-size: 12px;
        padding: 12px 0;
        .f16 {
            font-size: 16px;
        }
    }
    .goodsdetail {
        .goodsinfo {
            .imgwrap {
                float: left;
                width: 500px;
                .picbig {
                    .bx-wrapper {
                        margin: 0 auto;
                    }
                    width: 498px;
                    height: 498px;
                    border: 1px solid #ddd;
                    ul {
                        margin: 0;
                        padding: 0;
                        li {
                            list-style: none;
                            img{
                                width: 498px;
                                height: 498px;
                            }
                        }
                    }
                }
                .pagercont{
                    margin: 16px 21px 0;   
                    height: 80px;
                    width: 464px;
                    overflow: hidden;
                    position: relative; 
                }
                #bx-pager {
                    position: absolute;
                    top: 0;
                    left: 0;   
                    transition: all 300ms linear;          
                    a {
                        float: left;
                        list-style: none;
                        border: 1px solid #e6e6e6;
                        margin-left: 10px;
                        img{
                            width: 78px;
                            height: 78px;
                        }
                        &.active {
                            border-color: #fd9b2b;
                        }
                    }
                }
                .bx-wrapper .bx-controls-direction a {
                    top: 100%;
                    margin-top: 17px;
                    width: 16px;
                    height: 78px;
                    border: 1px solid #ccc;
                    background: url(../../images/pic-btn.png) no-repeat;
                    background-color:#fff ;
                    &.bx-prev{
                        background-position: 0 -30px;
                        left: 0;
                        &.bx-none{
                            background-position: 0 28px;
                        }
                    }
                    &.bx-next{
                        right: 0;
                        background-position: -16px -30px;
                        &.bx-none{
                            background-position: -16px 28px;
                        }
                    }
                }
                .share{
                    float: left;
                    margin-top: 15px;
                    span,a{
                        display: block;
                        float: left;
                        line-height: 36px;
                    }
                    a{
                        padding-right: 6px;
                    }
                }
                .collection{
                    margin-top: 15px;
                    float: right;
                    line-height: 24px;
                    .ico_collect {
                      width: 24px;
                      height: 23px;
                      display: inline-block;
                      background-image: url("../../images/ico_sequence.png");
                      background-repeat: no-repeat;
                      background-position: 0 -14px;
                      vertical-align: middle;
                      cursor: pointer;
                      margin-left: 10px;
                      &.keep {
                        background-position: 0 -37px;
                      }
                    }
                    span{
                        display: inline-block;
                    }
                }
            }
            .infowrap {
                width: 488px;
                float: left;
                margin-left: 20px;
                h3 {
                    font-size: 18px;
                    line-height: 24px;
                    color: #333;
                    margin: 0 0 6px;
                    font-weight: normal;
                }
                p {
                    line-height: 32px;
                    font-size: 14px;
                    color: #666;
                    vertical-align: baseline;
                    margin: 0;
                    em {
                        font-style: normal;
                        text-decoration: line-through;
                    }
                    b{
                        color: #dd1827;
                        font-size: 24px;
                    }
                    a{
                        padding-left: 8px;
                    }
                }
                .priceinfo{
                    background: #f4f4f4;
                    border: 1px solid #e6efed;
                    padding: 12px;
                    margin: 10px 0 16px;
                }
                dl {
                    margin: 0;
                    padding: 7px 0;
                    line-height: 28px;
                    font-size: 14px;
                    color: #666;
                    &:nth-last-of-type(1){
                        padding-top: 0;
                    }
                    &:nth-last-of-type(2){
                        padding-bottom: 0;
                    }
                    dt {
                        float: left;
                    }
                    dd {
                        margin: 0;
                        padding-left: 72px;
                        a {
                            display: inline-block;
                            text-align: center;
                            margin-right: 15px;
                            line-height: 26px;
                            border: 2px solid #ddd;
                            color: #666;
                            padding: 0 10px;
                            margin-bottom: 20px;
                            &.active{
                                border-color: #dd1827;
                                position: relative;
                                i{
                                    position: absolute;
                                    width: 16px;
                                    height: 16px;
                                    right: -2px;
                                    bottom: -2px;
                                    background: url(../../images/cur_ico.png) no-repeat;  
                                }
                               
                            }
                        }
                        span{
                            
                        }
                        .num{
                            .tAmount {
                                float: left;
                                .tAmountVal,
                                .tMinus,
                                .tPlus {
                                    display: block;
                                    float: left;
                                    cursor: pointer;
                                    padding: 0;
                                    border: 1px solid #ccc;
                                    width: 26px;
                                    height: 26px;
                                    overflow: hidden;
                                    outline: 0;
                                    vertical-align: middle;
                                    line-height: 26px;
                                    font-size: 14px;
                                    margin: 0;
                                }
                                .tAmountVal {
                                    width: 48px;
                                    border-width: 1px 0;
                                    text-align: center;
                                    cursor: text;
                                }
                                .tMinus,
                                .tPlus {
                                    color: #999;
                                    background: #ededed;
                                }
                                .tMinus:hover,
                                .tPlus:hover {
                                    color: #333333;
                                    border-color: #9b9b9b;
                                }
                                .tOff,
                                .tOff:hover {
                                    color: #ccc;
                                    cursor: not-allowed;
                                    border-color: #dbdbdb;
                                }
                            }
                            em{
                                padding-left: 20px;
                                i{
                                    font-style: normal;
                                }
                            }
                        }
                    }
                }
                .btns {
                    font-size: 18px;
                    line-height: 45px;
                    padding: 12px 0 0;
                    a {
                        display: inline-block;
                        width: 181px;
                        text-align: center;
                        margin-right: 20px;
                        border: 1px solid #e74e4e;
                        &.add {
                            color: #e74e4e;
                            background: #fdeded;
                        }
                        &.buy {
                            background: #e74e4e;
                            color: #fff;
                        }
                    }
                }
            }
            .shopinfo{
                img{
                    border: 1px solid #ddd;
                    width: 168px;
                    height: 64px;
                }
                span{
                    display: block;
                    line-height: 36px;
                    text-align: center;
                }
                a{
                    display: block;
                    line-height: 42px;
                    padding-left: 75px;
                    margin-top: 30px;
                    background: url("../../images/kf-icon-b.png") no-repeat;
                    background-position: 30px 0;
                }
            }
        }
        .goodsrecommend {
            margin-top: 20px;
            h3 {
                margin: 0;
                font-size: 22px;
                line-height: 38px;
                border-bottom: 2px solid #19a7df;
                padding-left: 28px;
                font-weight: normal;
                background: url(../../images/tj_title-bg.png) no-repeat;
            }
            .recommend-list {
                padding: 10px 0 20px;
                .m-recommend {
                    width: 193px;
                    border: 1px solid #e9e9e9;
                    float: left;
                    margin-right: 6px;
                    &:last-child {
                        margin: 0;
                    }
                    img{
                        width: 193px;
                        height: 193px;
                    }
                    h4{
                        margin: 0;
                        line-height: 22px;
                        font-size: 12px;
                        font-weight: normal;
                        padding: 0 10px;
                    }
                    p{
                        color: @main-color;
                        font-size: 16px;
                        line-height: 30px;
                        padding: 0 10px 10px;
                    }
                }
            }
        }
        .goods-left {
            float: left;
            width: 249px;
            .m-left{
                margin-bottom: 10px;
                border: 1px solid #ddd;
                border-top: 2px solid @main-color;
                h4 {
                    background: #efefef;
                    line-height: 40px;
                    margin: 0;
                    padding-left:8px;
                    border: 1px solid #f3f3f4;
                    font-size: 16px;
                    font-weight: normal;
                }
                ul{
                    padding: 6px 15px;
                    li{
                        line-height: 20px;
                        font-size: 12px;
                    }
                }
                .m-pro {
                    border-bottom: solid #f3f3f4 1px;
                    &:last-child{
                        border: 0;
                    }
                    img {
                        width:247px;
                        height: 247px;
                    }
                    h5 {
                        margin: 0;
                        line-height: 22px;
                        font-weight: normal;
                        height: 44px;
                        overflow: hidden;
                        padding:0 10px;   
                        font-size: 14px;                   
                    }
                    p{
                        color: @main-color;
                        font-size: 18px;
                        line-height: 28px;
                        padding: 0 10px 10px;
                    }
                }
                .m-his{
                    padding: 15px 9px;
                    border-bottom: solid #f3f3f4 1px;
                    &:last-child{
                        border: 0;
                    }
                    img{
                        float: left;
                        width: 60px;
                        height: 60px;
                        margin-right: 8px;
                    }
                    h5{
                        line-height: 18px;
                        font-size: 12px;
                        margin: 0;
                        font-weight: normal;
                        height: 40px;
                        overflow: hidden;
                    }
                    p{
                       color: @main-color;
                        font-size: 18px;
                        line-height: 20px;
                    }
                }
            }
        }
        .goods-right {
            float: right;
            width: 941px;
            margin-bottom: 20px;
            .titles {
                margin: 0;
                background: #efefef;              
                border-top: 2px solid @main-color;
                ul {
                    margin: 0;
                    line-height: 42px;
                    padding: 0;
                    li { 
                        position: relative;
                        float: left;
                        list-style: none;
                        padding: 0 25px;
                        font-size: 16px;
                        &.cur {
                            background: @main-color;
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .conts {
                padding: 0;
                .details {
                    padding: 10px 20px;
                    display: block;
                    dl {
                        margin: 0;
                        float: left;
                        font-size: 12px;
                        line-height: 30px;
                        min-width: 300px;
                        dt {
                            float: left;
                        }
                        dd {
                            margin: 0;
                            float: left;
                        }
                    }
                }
                .evaluates {
                    display: none;
                    .m-eva {
                        border-bottom: 1px solid #f3f3f4;
                        padding: 28px 30px 15px;
                        &:last-child {
                            border-bottom: 0;
                        }
                        .user-header {
                            float: left;
                            width: 85px;
                            margin-right: 52px;
                            img {
                                margin: 0 auto 10px;
                            }
                            span {
                                display: block;
                                line-height: 24px;
                                text-align: center;
                            }
                        }
                        .user-eva {
                            float: left;
                            width: 760px;
                            .star {
                                line-height: 36px;
                                margin-bottom: 4px;
                                i {
                                    color: #d5d5d5;
                                    font-size: 14px;
                                    padding-right: 6px;
                                    &.act {
                                        color: #ff8033;
                                    }
                                }
                                span {
                                    color: #ff8033;
                                    padding-left: 10px;
                                }
                            }
                            p {
                                margin: 0 0 11px;
                                color: #333;
                                line-height: 20px;
                                span {
                                    color: #999;
                                    display: inline-block;
                                    padding-right: 66px;
                                    em {
                                        font-style: normal;
                                    }
                                }
                            }
                        }
                    }
                }
                .questions {
                    display: none;
                    .m-que {
                        padding: 25px 26px 8px;
                        h4 {
                            margin: 0;
                            color: #009688;
                            font-size: 14px;
                            line-height: 24px;
                            font-weight: normal;
                        }
                        p {
                            margin: 0;
                            color: #333;
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }
                .aptitude {
                    display: none;
                }
            }
        }
    }
}