<!DOCTYPE html>
<html lang="zh-cmn-Hans">

	<head>
		<meta charset="utf-8">
		<title>PC商城首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" href="../static/css/common/common.css" type="text/css" />
		<link rel="stylesheet" href="../static/css/home/index.css" type="text/css" />
		<!--[if lt IE 9]><script src="../static/js/common/IE9.js"></script><![endif]-->
	</head>

	<body>
		<div class="pcs-container">
			<div class="pcs-header">
				<div class="header-nav">
					<div class="page1200 clearfix">
						<div class="location">
							<i class="fa fa-map-marker"></i>地区：<span>深圳市南山区</span>
						</div>
						<div class="nav-login clearfix">
							<a href="#">您好，请登录</a>
							<a href="#">免费注册</a>
						</div>
						<div class="nav-list">
							<ul class="clearfix">
								<li><a href="#">我的订单</a></li>
								<li><a href="#">我的收藏</a></li>
								<li><a href="#">商家入口</a></li>
								<li class="about_us">
									<a href="javascript:void(0)">关注齐采</a>
									<i class="fa fa-angle-down"></i>
									<div class="about_info">
										<img src="../static/images/wechat.jpg" alt="二维码" />
									</div>
								</li>
								<li><a href="#">帮助中心</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="header-content">
					<div class="page1200 clearfix">
						<div class="logo">
							<img src="../static/images/logo.png" alt="" />
						</div>
						<div class="search">
							<input class="text" type="text" id="key" placeholder="输入您要搜索的关键词语" />
							<input class="sub" type="button" onclick="" value="搜索" />
							<div class="clear"></div>
							<div id="homeHotWord" class="key">
								<a href="#">打印纸</a>
								<a href="#">名片打印</a>
								<a href="#">办公文具</a>
								<a href="#">财务报税</a>
								<a href="#">法务咨询</a>
							</div>
						</div>
						<div class="cart clearfix">
							<i class="icon"></i>
							<span>购物车<em>0</em>件</span>
							<i class="fa fa-angle-down"></i>
							<div class="cart_list">
								<div class="tHeader clearfix">
									<div class="tItem">商品</div>
									<div class="tAmount">数量</div>
									<div class="tPrice">价格</div>
									<div class="tOps">删除</div>
								</div>
								<div class="tBundle">
									<div class="mOrder clearfix">
										<a class="tItem" href="#" title="" target="_blank"><img height="40" src="../static/images/pro-img.jpg"></a>
										<div class="tAmount clearfix">
											<a href="javascript:void(0)" class="tMinus tOff fa fa-minus"></a>
											<input class="tAmountVal" type="text" value="1" />
											<a href="javascript:void(0)" class="tPlus fa fa-plus"></a>
										</div>
										<div class="tPrice" title="39.90元">39.90</div>
										<div class="tOps">
											<span class="tDel fa fa-close" title="删除"></span>
										</div>
									</div>
									<div class="mOrder clearfix">
										<a class="tItem" href="#" title="" target="_blank"><img height="40" src="../static/images/pro-img.jpg"></a>
										<div class="tAmount clearfix">
											<a href="javascript:void(0)" class="tMinus tOff fa fa-minus"></a>
											<input class="tAmountVal" type="text" value="1" />
											<a href="javascript:void(0)" class="tPlus fa fa-plus"></a>
										</div>
										<div class="tPrice" title="39.90元">39.90</div>
										<div class="tOps">
											<span class="tDel fa fa-close" title="删除"></span>
										</div>
									</div>
									<div class="tEmpty">当前购物车为空</div>
								</div>								
								<div class="tBotBox">
									<p class="tTotal">合计：&yen;<strong class="tTotalFee">55.00</strong></p>
									<p class="tGo"><a class="tCartBtn">去结算</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="menu clearfix">
						<div class="title-list">
							<span>全部分类</span>
							<div class="lists">
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">办公用品</a></h4>
									<p><a href="#">办公文具</a><a href="#">办公用纸</a><a href="#">办公耗材</a><a href="#">办公耗材</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">中药养生</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">医疗器械</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">营养保健</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">成人用品</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">健康超市</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">健康超市</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">健康超市</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>	
							</div>
							
						</div>
						<ul class="clearfix">
							<li class="cur"><a href="#">首页</a></li>
							<li><a href="#">场景采购</a></li>
							<li><a href="#">促销商品</a></li>
							<li><a href="#">热门服务</a></li>
							<li><a href="#">服务商入驻</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="pcs-rebuy">
				<h3>我的复购清单</h3>
				<div class="listbox">
					<ul>
						<li class="clearfix">
							<i class="fa"></i>
							<a href="#"><img src="../static/images/pro-img.jpg" alt=""/></a>
							<h4><a href="#">齐心 JBYD-5288(C)办公用品</a></h4>
							<p><span>颜色：黑色</span><span class="price">&yen;960.00&times;2</span></p>
						</li>
						<li class="clearfix">
							<i class="fa fa-check"></i>
							<a href="#"><img src="../static/images/pro-img.jpg" alt=""/></a>
							<h4><a href="#">齐心 JBYD-5288(C)办公用品</a></h4>
							<p><span>颜色：黑色</span><span class="price">&yen;960.00&times;2</span></p>
						</li>
						<li class="clearfix">
							<i class="fa"></i>
							<a href="#"><img src="../static/images/pro-img.jpg" alt=""/></a>
							<h4><a href="#">齐心 JBYD-5288(C)办公用品</a></h4>
							<p><span>颜色：黑色</span><span class="price">&yen;960.00&times;2</span></p>
						</li>
						<li class="clearfix">
							<i class="fa fa-check"></i>
							<a href="#"><img src="../static/images/pro-img.jpg" alt=""/></a>
							<h4><a href="#">齐心 JBYD-5288(C)办公用品</a></h4>
							<p><span>颜色：黑色</span><span class="price">&yen;960.00&times;2</span></p>
						</li>
						<li class="clearfix">
							<i class="fa"></i>
							<a href="#"><img src="../static/images/pro-img.jpg" alt=""/></a>
							<h4><a href="#">齐心 JBYD-5288(C)办公用品</a></h4>
							<p><span>颜色：黑色</span><span class="price">&yen;960.00&times;2</span></p>
						</li>
						<li class="empty">当前清单为空</li>
					</ul>
					<div class="total clearfix">
						<span>已选6件</span>
						<span>共计<em>&yen;999.00</em></span>
						<a href="#" class="pull-right">去结算</a>
					</div>	
				</div>					
			</div>
			
			<div class="pcs-content">
				<div class="rollpic">
					<ul class="bs-slide">
						<li class="bg1"></li>
						<li class="bg2"></li>
						<li class="bg3"></li>
						<li class="bg4"></li>
						<li class="bg5"></li>
					</ul>
				</div>
				<div class="serviceTop">
					<ul class="clearfix">
						<li><img src="../static/images/qualityTop.png" alt="" /></li>
						<li><img src="../static/images/serviceTop.png" alt="" /></li>
						<li><img src="../static/images/saveTop.png" alt="" /></li>
					</ul>
				</div>
				
				<div class="floor-hot page1200">
					<h3><a href="javascript:void(0)" class="pull-right">换一组<i class="fa fa-repeat"></i></a>推荐</h3>
					<div class="clearfix">
						<div class="m-hot">
							<a href="#" class="img">
								<img src="../static/images/hot-img.jpg" alt="" />
								<img src="../static/images/hot-img-tips.png" alt="办公商品" class="tips" />
							</a>
							<h4><a href="#">齐心    晶纯高速王复印纸70克  A4 100张</a></h4>
							<p>&yen;<em>30元/盒</em></p>
						</div>
						<div class="m-hot">
							<a href="#" class="img">
								<img src="../static/images/hot-img.jpg" alt="" />
								<img src="../static/images/hot-img-tips.png" alt="办公商品" class="tips" />
							</a>
							<h4><a href="#">齐心    晶纯高速王复印纸 A4</a></h4>
							<p>&yen;<em>30元/盒</em></p>
						</div>
						<div class="m-hot">
							<a href="#" class="img">
								<img src="../static/images/hot-img.jpg" alt="" />
								<img src="../static/images/hot-img-tips.png" alt="办公商品" class="tips" />
							</a>
							<h4><a href="#">齐心    晶纯高速王复印纸100张</a></h4>
							<p>&yen;<em>30元/盒</em></p>
						</div>
						<div class="m-hot">
							<a href="#" class="img">
								<img src="../static/images/hot-img.jpg" alt="" />
								<img src="../static/images/hot-img-tips.png" alt="办公商品" class="tips" />
							</a>
							<h4><a href="#">齐心    晶纯高速王复印纸</a></h4>
							<p>&yen;<em>30元/盒</em></p>
						</div>
						<div class="m-hot">
							<a href="#" class="img">
								<img src="../static/images/hot-img.jpg" alt="" />
								<img src="../static/images/hot-img-tips.png" alt="办公商品" class="tips" />
							</a>
							<h4><a href="#">齐心    晶纯高速王复印纸70</a></h4>
							<p>&yen;<em>30元/盒</em></p>
						</div>
					</div>
				</div>
				
				<div class="floor-scene page1200">
					<h3>场景采购</h3>
					<div class="clearfix">
						<div class="m-scene">
							<img src="../static/images/scene-img.jpg" alt="" />
							<a class="places" href="#">
								<span>办公室</span>
								<em>点击查看</em>
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="hoverbg"></div>
						</div>
						<div class="m-scene">
							<img src="../static/images/scene-img.jpg" alt="" />
							<a class="places" href="#">
								<span>办公室</span>
								<em>点击查看</em>
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="hoverbg"></div>
						</div>
						<div class="m-scene">
							<img src="../static/images/scene-img.jpg" alt="" />
							<a class="places" href="#">
								<span>办公室</span>
								<em>点击查看</em>
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="hoverbg"></div>
						</div>
						<div class="m-scene">
							<img src="../static/images/scene-img.jpg" alt="" />
							<a class="places" href="#">
								<span>办公室</span>
								<em>点击查看</em>
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="hoverbg"></div>
						</div>
						<div class="m-scene">
							<img src="../static/images/scene-img.jpg" alt="" />
							<a class="places" href="#">
								<span>办公室</span>
								<em>点击查看</em>
								<i class="fa fa-angle-down"></i>
							</a>
							<div class="hoverbg"></div>
						</div>
					</div>
				</div>
				
				<div class="m-floor floor1">
					<h3><b>1F</b>办公设备
						<ul class="clearfix equiptitles">
							<li class="cur"><a href="javascript:void(0)">打印设备</a></li>
							<li><a href="javascript:void(0)">传真设备</a></li>
							<li><a href="javascript:void(0)">通讯设备</a></li>
							<li><a href="javascript:void(0)">插座</a></li>
						</ul>
					</h3>
					<div class="equipconts">
						<div class="m-equip clearfix" style="display: block;">
							<div class="part1">
								<a href="#"><img src="../static/images/fl1-img1.jpg" alt="" /></a>
								<p><a href="#">办公文具</a><a href="#" class="high">办公耗材</a><a href="#">办公设备</a><a href="#">档案袋</a><a href="#" class="high">订书机</a><a href="#">文件夹</a><a href="#">胶水</a><a href="#" class="high">计算器</a><a href="#">便签</a></p>
								<div class="clearfix">
									<a href="#" class="cl1">齐心</a>
									<a href="#" class="cl2">得力</a>
									<a href="#" class="cl3">晨光</a>
								</div>
							</div>
							<div class="part2">
								<ul class="bx-slide">
									<li><a href="#"><img src="../static/images/fl1-img2.jpg" alt="" /></a></li>
									<li><a href="#"><img src="../static/images/fl1-img2.jpg" alt="" /></a></li>
									<li><a href="#"><img src="../static/images/fl1-img2.jpg" alt="" /></a></li>
								</ul>
							</div>
							<div class="part3 clearfix">
								<a href="#"><img src="../static/images/fl1-img3.jpg" alt="" /></a>
								<a href="#" class="pull-left"><img src="../static/images/fl1-img4.jpg" alt="" /></a>
								<a href="#" class="pull-right"><img src="../static/images/fl1-img5.jpg" alt="" /></a>
							</div>
							<div class="part4">
								<a href="#"><img src="../static/images/fl1-img6.jpg" alt="" /></a>
							</div>
						</div>	
						<div class="m-equip clearfix">
							<div class="part1">
								<a href="#"><img src="../static/images/fl1-img1.jpg" alt="" /></a>
								<p><a href="#">办公文具</a><a href="#" class="high">办公耗材</a><a href="#">办公设备</a><a href="#">档案袋</a><a href="#" class="high">订书机</a><a href="#">文件夹</a><a href="#">胶水</a><a href="#" class="high">计算器</a><a href="#">便签</a></p>
								<div class="clearfix">
									<a href="#" class="cl1">齐心</a>
									<a href="#" class="cl2">得力</a>
									<a href="#" class="cl3">晨光</a>
								</div>
							</div>
							<div class="part2">
								<ul class="bx-slide">
									<li><a href="#"><img src="../static/images/fl1-img2.jpg" alt="" /></a></li>
									<li><a href="#"><img src="../static/images/fl1-img2.jpg" alt="" /></a></li>
									<li><a href="#"><img src="../static/images/fl1-img2.jpg" alt="" /></a></li>
								</ul>
							</div>
							<div class="part3 clearfix">
								<a href="#"><img src="../static/images/fl1-img3.jpg" alt="" /></a>
								<a href="#" class="pull-left"><img src="../static/images/fl1-img4.jpg" alt="" /></a>
								<a href="#" class="pull-right"><img src="../static/images/fl1-img5.jpg" alt="" /></a>
							</div>
							<div class="part4">
								<a href="#"><img src="../static/images/fl1-img6.jpg" alt="" /></a>
							</div>
						</div>
						<div class="m-equip clearfix">
							<div class="part1">
								<a href="#"><img src="../static/images/fl1-img1.jpg" alt="" /></a>
								<p><a href="#">办公文具</a><a href="#" class="high">办公耗材</a><a href="#">办公设备</a><a href="#">档案袋</a><a href="#" class="high">订书机</a><a href="#">文件夹</a><a href="#">胶水</a><a href="#" class="high">计算器</a><a href="#">便签</a></p>
								<div class="clearfix">
									<a href="#" class="cl1">齐心</a>
									<a href="#" class="cl2">得力</a>
									<a href="#" class="cl3">晨光</a>
								</div>
							</div>
							<div class="part2">
								<ul class="bx-slide">
									<li><a href="#"><img src="../static/images/fl1-img2.jpg" alt="" /></a></li>
									<li><a href="#"><img src="../static/images/fl1-img2.jpg" alt="" /></a></li>
									<li><a href="#"><img src="../static/images/fl1-img2.jpg" alt="" /></a></li>
								</ul>
							</div>
							<div class="part3 clearfix">
								<a href="#"><img src="../static/images/fl1-img3.jpg" alt="" /></a>
								<a href="#" class="pull-left"><img src="../static/images/fl1-img4.jpg" alt="" /></a>
								<a href="#" class="pull-right"><img src="../static/images/fl1-img5.jpg" alt="" /></a>
							</div>
							<div class="part4">
								<a href="#"><img src="../static/images/fl1-img6.jpg" alt="" /></a>
							</div>
						</div>
						<div class="m-equip clearfix">
							<div class="part1">
								<a href="#"><img src="../static/images/fl1-img1.jpg" alt="" /></a>
								<p><a href="#">办公文具</a><a href="#" class="high">办公耗材</a><a href="#">办公设备</a><a href="#">档案袋</a><a href="#" class="high">订书机</a><a href="#">文件夹</a><a href="#">胶水</a><a href="#" class="high">计算器</a><a href="#">便签</a></p>
								<div class="clearfix">
									<a href="#" class="cl1">齐心</a>
									<a href="#" class="cl2">得力</a>
									<a href="#" class="cl3">晨光</a>
								</div>
							</div>
							<div class="part2">
								<ul class="bx-slide">
									<li><a href="#"><img src="../static/images/fl1-img2.jpg" alt="" /></a></li>
									<li><a href="#"><img src="../static/images/fl1-img2.jpg" alt="" /></a></li>
									<li><a href="#"><img src="../static/images/fl1-img2.jpg" alt="" /></a></li>
								</ul>
							</div>
							<div class="part3 clearfix">
								<a href="#"><img src="../static/images/fl1-img3.jpg" alt="" /></a>
								<a href="#" class="pull-left"><img src="../static/images/fl1-img4.jpg" alt="" /></a>
								<a href="#" class="pull-right"><img src="../static/images/fl1-img5.jpg" alt="" /></a>
							</div>
							<div class="part4">
								<a href="#"><img src="../static/images/fl1-img6.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="m-floor floor2">
					<h3 class="act"><b>2F</b>文管用品</h3>
					<div class="clearfix">
						<div class="m-quarter">
							<div class="img">
								<img src="../static/images/fl2-img1.jpg" alt="" />
								<span>绿植租赁</span>
							</div>
							<div class="prolist">
								<div class="m-pro clearfix">
									<a href="#"><img src="../static/images/pro-img.jpg" alt="" /></a>
									<p><a href="#">微型套餐（大4中6小6）</a></p>
									<span>200元/月起</span>
								</div>
								<div class="m-pro clearfix">
									<a href="#"><img src="../static/images/pro-img.jpg" alt="" /></a>
									<p><a href="#">微型套餐（大4中6小6）</a></p>
									<span>200元/月起</span>
								</div>
								<div class="m-pro clearfix">
									<a href="#"><img src="../static/images/pro-img.jpg" alt="" /></a>
									<p><a href="#">微型套餐（大4中6小6）</a></p>
									<span>200元/月起</span>
								</div>
							</div>
						</div>
						<div class="m-quarter">
							<div class="img">
								<img src="../static/images/fl2-img1.jpg" alt="" />
								<span>绿植租赁</span>
							</div>
							<div class="prolist">
								<div class="m-pro clearfix">
									<a href="#"><img src="../static/images/pro-img.jpg" alt="" /></a>
									<p><a href="#">微型套餐（大4中6小6）</a></p>
									<span>200元/月起</span>
								</div>
								<div class="m-pro clearfix">
									<a href="#"><img src="../static/images/pro-img.jpg" alt="" /></a>
									<p><a href="#">微型套餐（大4中6小6）</a></p>
									<span>200元/月起</span>
								</div>
								<div class="m-pro clearfix">
									<a href="#"><img src="../static/images/pro-img.jpg" alt="" /></a>
									<p><a href="#">微型套餐（大4中6小6）</a></p>
									<span>200元/月起</span>
								</div>
							</div>
						</div>
						<div class="m-quarter">
							<div class="img">
								<img src="../static/images/fl2-img1.jpg" alt="" />
								<span>绿植租赁</span>
							</div>
							<div class="prolist">
								<div class="m-pro clearfix">
									<a href="#"><img src="../static/images/pro-img.jpg" alt="" /></a>
									<p><a href="#">微型套餐（大4中6小6）</a></p>
									<span>200元/月起</span>
								</div>
								<div class="m-pro clearfix">
									<a href="#"><img src="../static/images/pro-img.jpg" alt="" /></a>
									<p><a href="#">微型套餐（大4中6小6）</a></p>
									<span>200元/月起</span>
								</div>
								<div class="m-pro clearfix">
									<a href="#"><img src="../static/images/pro-img.jpg" alt="" /></a>
									<p><a href="#">微型套餐（大4中6小6）</a></p>
									<span>200元/月起</span>
								</div>
							</div>
						</div>
						<div class="m-quarter">
							<div class="img">
								<img src="../static/images/fl2-img1.jpg" alt="" />
								<span>绿植租赁</span>
							</div>
							<div class="prolist">
								<div class="m-pro clearfix">
									<a href="#"><img src="../static/images/pro-img.jpg" alt="" /></a>
									<p><a href="#">微型套餐（大4中6小6）</a></p>
									<span>200元/月起</span>
								</div>
								<div class="m-pro clearfix">
									<a href="#"><img src="../static/images/pro-img.jpg" alt="" /></a>
									<p><a href="#">微型套餐（大4中6小6）</a></p>
									<span>200元/月起</span>
								</div>
								<div class="m-pro clearfix">
									<a href="#"><img src="../static/images/pro-img.jpg" alt="" /></a>
									<p><a href="#">微型套餐（大4中6小6）</a></p>
									<span>200元/月起</span>
								</div>
							</div>
						</div>
					</div>
				</div>			
				<div class="m-floor floor3">
					<h3><b>3F</b>招聘服务</h3>
					<div class="clearfix">
						<div class="m-quarter">
							<img src="../static/images/fl3-img1.jpg" alt="" />
							<a class="mask" href="#">
								<em>网络招聘（会员）</em>
								<i class="fa fa-angle-double-down"></i>
							</a>					
						</div>
						<div class="m-quarter">
							<img src="../static/images/fl3-img1.jpg" alt="" />
							<a class="mask" href="#">
								<em>猎头招聘</em>
								<i class="fa fa-angle-double-down"></i>
							</a>					
						</div>
						<div class="m-quarter">
							<img src="../static/images/fl3-img1.jpg" alt="" />
							<a class="mask" href="#">
								<em>线下招聘专场</em>
								<i class="fa fa-angle-double-down"></i>
							</a>					
						</div>
						<div class="m-quarter">
							<img src="../static/images/fl3-img1.jpg" alt="" />
							<a class="mask" href="#">
								<em>PRO（外包）</em>
								<i class="fa fa-angle-double-down"></i>
							</a>					
						</div>
					</div>
				</div>			
				<div class="m-floor floor4">
					<h3><b>4F</b>IT服务</h3>
					<div class="clearfix">
						<div class="m-third">
							<a href="#"><img src="../static/images/fl4-img1.jpg" alt="" /></a>	
						</div>
						<div class="m-third">
							<a href="#"><img src="../static/images/fl4-img1.jpg" alt="" /></a>			
						</div>
						<div class="m-third">
							<a href="#"><img src="../static/images/fl4-img1.jpg" alt="" /></a>			
						</div>
					</div>
					<div class="clearfix">
						<div class="m-quarter">
							<a href="#"><img src="../static/images/fl4-img2.jpg" alt="" /></a>				
						</div>
						<div class="m-quarter">
							<a href="#"><img src="../static/images/fl4-img2.jpg" alt="" /></a>						
						</div>
						<div class="m-quarter">
							<a href="#"><img src="../static/images/fl4-img2.jpg" alt="" /></a>							
						</div>
						<div class="m-quarter">
							<a href="#"><img src="../static/images/fl4-img2.jpg" alt="" /></a>							
						</div>
					</div>
				</div>	
			</div>

			<div class="pcs-footer">
				<div class="service">
					<ul class="clearfix">
						<li><img src="../static/images/quality.png" alt="" /></li>
						<li><img src="../static/images/service.png" alt="" /></li>
						<li><img src="../static/images/save.png" alt="" /></li>
					</ul>
				</div>
				<div class="about page1200">
					<p><a href="#">关于齐采</a>丨<a href="#">联系我们</a>丨<a href="#">商家入驻</a></p>
					<p>粤ICP备05143967号 增值电信业务经营许可证: 粤B1.B2-20150312</p>
					<p>Copyright © 2016 深圳齐心集团股份有限公司(002301.SZ) 版权所有</p>
				</div>
			</div>
		</div>

		<script src="../static/js/common/jquery-1.10.2.min.js" charset="utf-8"></script>
		<script src="../static/js/common/jquery.bxslider.min.js" charset="utf-8"></script>
		<link rel="stylesheet" href="../static/js/common/jquery.bxslider.css" charset="utf-8" />
		<script src="../static/js/home/index.js" charset="utf-8"></script>

	</body>

</html>