<!DOCTYPE html>
<html lang="zh-cmn-Hans">

	<head>
		<meta charset="utf-8">
		<title>我的订单</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" href="../static/css/common/common.css" type="text/css" />
		<link rel="stylesheet" href="../static/css/order/list.css" type="text/css" />

		<!--[if lt IE 9]><script src="../static/js/common/IE9.js"></script><![endif]-->
		<script src="../static/js/common/jquery-1.10.2.min.js" charset="utf-8"></script>
		<script src="../static/js/order/list.js" charset="utf-8"></script>

	</head>

	<body>
		<div class="pcs-container">
			<div class="pcs-header">
				<div class="header-nav">
					<div class="page1200 clearfix">
						<div class="location">
							<i class="fa fa-map-marker"></i>地区：<span>深圳市南山区</span>
						</div>
						<div class="nav-login clearfix">
							<a href="#">您好，请登录</a>
							<a href="#">免费注册</a>
						</div>
						<div class="nav-list">
							<ul class="clearfix">
								<li><a href="#">我的订单</a></li>
								<li><a href="#">我的收藏</a></li>
								<li><a href="#">商家入口</a></li>
								<li class="about_us">
									<a href="javascript:void(0)">关注齐采</a>
									<i class="fa fa-angle-down"></i>
									<div class="about_info">
										<img src="../static/images/wechat.jpg" alt="二维码" />
									</div>
								</li>
								<li><a href="#">帮助中心</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="header-content">
					<div class="page1200 clearfix">
						<div class="logo">
							<img src="../static/images/logo.png" alt="" />
						</div>
						<div class="search">
							<input class="text" type="text" id="key" placeholder="输入您要搜索的关键词语" />
							<input class="sub" type="button" onclick="" value="搜索" />
							<div class="clear"></div>
							<div id="homeHotWord" class="key">
								<a href="#">打印纸</a>
								<a href="#">名片打印</a>
								<a href="#">办公文具</a>
								<a href="#">财务报税</a>
								<a href="#">法务咨询</a>
							</div>
						</div>
						<div class="cart clearfix">
							<i class="icon"></i>
							<span>购物车<em>0</em>件</span>
							<i class="fa fa-angle-down"></i>
							<div class="cart_list">
								<div class="tHeader clearfix">
									<div class="tItem">商品</div>
									<div class="tAmount">数量</div>
									<div class="tPrice">价格</div>
									<div class="tOps">删除</div>
								</div>
								<div class="tBundle">
									<div class="mOrder clearfix">
										<a class="tItem" href="#" title="" target="_blank"><img height="40" src="../static/images/pro-img.jpg"></a>
										<div class="tAmount clearfix">
											<a href="javascript:void(0)" class="tMinus tOff fa fa-minus"></a>
											<input class="tAmountVal" type="text" value="1" />
											<a href="javascript:void(0)" class="tPlus fa fa-plus"></a>
										</div>
										<div class="tPrice" title="39.90元">39.90</div>
										<div class="tOps">
											<span class="tDel fa fa-close" title="删除"></span>
										</div>
									</div>
									<div class="mOrder clearfix">
										<a class="tItem" href="#" title="" target="_blank"><img height="40" src="../static/images/pro-img.jpg"></a>
										<div class="tAmount clearfix">
											<a href="javascript:void(0)" class="tMinus tOff fa fa-minus"></a>
											<input class="tAmountVal" type="text" value="1" />
											<a href="javascript:void(0)" class="tPlus fa fa-plus"></a>
										</div>
										<div class="tPrice" title="39.90元">39.90</div>
										<div class="tOps">
											<span class="tDel fa fa-close" title="删除"></span>
										</div>
									</div>
									<div class="tEmpty">当前购物车为空</div>
								</div>
								<div class="tBotBox">
									<p class="tTotal">合计：&yen;<strong class="tTotalFee">55.00</strong></p>
									<p class="tGo"><a class="tCartBtn">去结算</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="menu clearfix">
						<div class="title-list hide-list">
							<span>全部分类</span>
							<div class="lists">
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">办公用品</a></h4>
									<p><a href="#">办公文具</a><a href="#">办公用纸</a><a href="#">办公耗材</a><a href="#">办公耗材</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">中药养生</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">医疗器械</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">营养保健</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">成人用品</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">健康超市</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">健康超市</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="m-list">
									<i class="fa fa-angle-right"></i>
									<h4><a href="#">健康超市</a></h4>
									<p><a href="#">消炎清热</a><a href="#">感冒发烧</a><a href="#">湿热上火</a><a href="#">解热镇痛</a></p>
									<div class="list-detail">
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<dl>
											<dt>办公文具</dt>
											<dd><a href="#">文具0</a></dd>
											<dd><a href="#">文具1</a></dd>
											<dd><a href="#">文具2</a></dd>
											<dd><a href="#">文具3</a></dd>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
						<ul class="clearfix">
							<li class="cur"><a href="#">首页</a></li>
							<li><a href="#">场景采购</a></li>
							<li><a href="#">促销商品</a></li>
							<li><a href="#">热门服务</a></li>
							<li><a href="#">服务商入驻</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--页面主体部分-->
			<div class="pcs-content">
				<div class="page1200 clearfix">
					<!--面包屑-->
					<div class=" bread_crumbs">
						<b class="f16">办公商品</b> > <a href="">办公文具</a> > <a href="">书写修正工具</a>
					</div>
					<!--左侧菜单-->
					<div class="left_nav">
						<h2>会员中心</h2>
						<ul class="nav_list">
							<li class="cur"><a href="">我的订单</a></li>
							<li><a href="">退换货</a></li>
							<li><a href="">我的积分</a></li>
							<li><a href="">我的收藏</a></li>
							<li><a href="">关注店铺</a></li>
							<li><a href="">个人信息</a></li>
							<li><a href="">公司信息</a></li>
							<li><a href="">地址管理</a></li>
							<li><a href="">安全设置</a></li>
						</ul>
					</div>

					<!--右侧列表-->
					<div class="right_box">
						<div class="title">我的订单</div>
						<div class="tabs_box clearfix">
							<div class="left_tabs">
								<span class="cur" data-type="all">全部订单</span>
								<span data-type="pay">待付款<em>（1）</em></span>
								<span data-type="receipt">待收货<em>（2）</em></span>
								<span data-type="evaluate">待评价<em>（5）</em></span>
							</div>
							<div class="rt_search">
								<input class="text" type="text" placeholder="订单编号/商品名称/商品编号">
								<input class="sub" type="button" onclick="">
							</div>
						</div>

						<!--全部订单-->
						<div class="pro_list">
							<ul class="pro_list_hd">
								<li class="hd_name">商品名称</li>
								<li class="hd_price">单价</li>
								<li class="hd_spcz">商品操作</li>
								<li class="hd_sfjg">实付价格</li>
								<li class="hd_zt">状态</li>
								<li class="hd_cz">商品操作</li>
							</ul>
							<div class="pro_con">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="m-pro" data-value="pay">
									<tr>
										<td colspan="6" class="pro_title">
											<span>2015-08-26 10:06:02</span><span>订单编号：1024154</span><span class="shop_name">齐心官方旗舰店</span>
										</td>
									</tr>
									<tr>
										<td class="goodslist">
											<table border="0" width="" cellspacing="" cellpadding="">
												<tr>
													<td class="w_name">
														<a href=""><img src="../static/images/pic01.jpg"></a>
														<a href="" class="name">Apple MacBook Air 13.3</a>
														<span>X2</span>
													</td>
													<td class="w_price">¥ 8488.00</td>
													<td class="w_spcz"><a href="">投诉</a></br><input type="checkbox">加入复购清单</td>
												</tr>
												<tr>
													<td class="w_name">
														<a href=""><img src="../static/images/pic01.jpg"></a>
														<a href="" class="name">Apple MacBook Air 13.3英寸笔记本电脑银色(Core i5 处理器/4GB内存/256GBSSD闪存 </a>
														<span>X2</span>
													</td>
													<td class="w_price">¥ 8488.00</td>
													<td class="w_spcz"><a href="">投诉</a></br><input type="checkbox">加入复购清单</td>
												</tr>
											</table>
										</td>

										<td class="w_sfjg">¥ 8488.00</td>
										<td class="w_zt">
											等待买家付款
											<a href="">物流跟踪</a>
											<a href="">订单详情</a>
										</td>
										<td class="w_cz">
											剩余21时12秒
											<input type="button" class="btn" value="付款">
											<a href="">取消订单</a>
										</td>
									</tr>
								</table>

								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="m-pro" data-value="receipt">
									<tr>
										<td colspan="6" class="pro_title">
											<span>2015-08-26 10:06:02</span><span>订单编号：1024154</span><span class="shop_name">齐心官方旗舰店</span>
										</td>
									</tr>
									<tr>
										<td class="goodslist">
											<table border="0" width="" cellspacing="" cellpadding="">
												<tr>
													<td class="w_name">
														<a href=""><img src="../static/images/pic01.jpg"></a>
														<a href="" class="name">Apple MacBook Air 13.3</a>
														<span>X2</span>
													</td>
													<td class="w_price">¥ 8488.00</td>
													<td class="w_spcz"><a href="">投诉</a></br><input type="checkbox">加入复购清单</td>
												</tr>
											</table>
										</td>

										<td class="w_sfjg">¥ 8488.00</td>
										<td class="w_zt">
											等待发货
											<a href="">物流跟踪</a>
											<a href="">订单详情</a>
										</td>
										<td class="w_cz">
											<input type="button" class="btn" value="确认收货">
											<a href="">取消订单</a>
										</td>
									</tr>
								</table>

								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="m-pro" data-value="evaluate">
									<tr>
										<td colspan="6" class="pro_title">
											<span>2015-08-26 10:06:02</span><span>订单编号：1024154</span><span class="shop_name">齐心官方旗舰店</span>
										</td>
									</tr>
									<tr>
										<td class="goodslist">
											<table border="0" width="" cellspacing="" cellpadding="">
												<tr>
													<td class="w_name">
														<a href=""><img src="../static/images/pic01.jpg"></a>
														<a href="" class="name">Apple MacBook Air 13.3</a>
														<span>X2</span>
													</td>
													<td class="w_price">¥ 8488.00</td>
													<td class="w_spcz"><a href="">投诉</a></br><input type="checkbox">加入复购清单</td>
												</tr>
												<tr>
													<td class="w_name">
														<a href=""><img src="../static/images/pic01.jpg"></a>
														<a href="" class="name">Apple MacBook Air 13.3英寸笔记本电脑银色(Core i5 处理器/4GB内存/256GBSSD闪存 </a>
														<span>X2</span>
													</td>
													<td class="w_price">¥ 8488.00</td>
													<td class="w_spcz"><a href="">投诉</a></br><input type="checkbox">加入复购清单</td>
												</tr>
												<tr>
													<td class="w_name">
														<a href=""><img src="../static/images/pic01.jpg"></a>
														<a href="" class="name">Apple MacBook Air 13.3英寸笔记本电脑银色(Core i5 处理器/4GB内存/256GBSSD闪存 </a>
														<span>X2</span>
													</td>
													<td class="w_price">¥ 8488.00</td>
													<td class="w_spcz"><a href="">投诉</a></br><input type="checkbox">加入复购清单</td>
												</tr>
											</table>
										</td>

										<td class="w_sfjg">¥ 8488.00</td>
										<td class="w_zt">
											<a href="">订单详情</a>
										</td>
										<td class="w_cz">
											<input type="button" class="btn" value="评价">
											<a href="">删除订单</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<!--/全部订单-->

						<!--页码-->
						<div class="page">
							<a class="prev zero"><i class="ico_prev"></i></a><a class="cur" href="#?page=2">1</a><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a>...<a href="#?page=10">10</a>
							<a href="#?page=2" class="next"><i class="ico_next"></i></a><span class="page_text_box">到<input type="text" class="page_text">页</span>
						</div>
					</div>
				</div>
			</div>

			<div class="pcs-footer-new">
				<div class="footInner page1200">
					<div class="code_box">
						<span class="pull-left"><img src="../static/images/footer_new/qrcode72.jpg"></span>
						<span class="code_text">
			                	<span class="company_name">齐心商城官方微信服务号<br><br>扫一扫二维码，即刻与齐心亲密互动，可以直接微信客服哦！</span>
						<span class="company_tel"><font>400-700-8688</font><br>工作日(9:00-18:00)</span>
						</span>
					</div>
					<div class="links_box">
						<span>购物指南</span>
						<ul>
							<li><a href="" target="_blank">授权证书</a></li>
							<li><a href="" target="_blank">购物流程</a></li>
							<li><a href="" target="_blank">常见问题</a></li>
						</ul>
					</div>
					<div class="links_box">
						<span>配送方式</span>
						<ul>
							<li><a href="" target="_blank">全国网络</a></li>
							<li><a href="" target="_blank">签收事项</a></li>
							<li><a href="" target="_blank">配送服务</a></li>
						</ul>
					</div>
					<div class="links_box">
						<span>支付方式</span>
						<ul>
							<li><a href="" target="_blank">在线支付</a></li>
							<li><a href="" target="_blank">货到付款</a></li>
							<li><a href="" target="_blank">公司转账</a></li>
						</ul>
					</div>
					<div class="links_box">
						<span>售后服务</span>
						<ul>
							<li><a href="" target="_blank">取消订单</a></li>
							<li><a href="" target="_blank">退换货流程</a></li>
						</ul>
					</div>
					<div class="links_box">
						<span>关于我们</span>
						<ul>
							<li><a href="" target="_blank">集团总部</a></li>
							<li><a href="" target="_blank">全国网络</a></li>
							<li><a href="" target="_blank">加入齐心</a></li>
						</ul>
					</div>
				</div>
				<div class="slogan_box page1200">
					<div class="sloganicon sloganicon01">正品保证</div>
					<div class="sloganicon sloganicon02">专业配送</div>
					<div class="sloganicon sloganicon03">售后无忧</div>
					<div class="sloganicon sloganicon04">上市公司</div>
					<div class="sloganicon sloganicon05">品牌厂家</div>
				</div>

				<div class="about page1200">
					<p><a href="#">关于齐采</a>丨<a href="#">联系我们</a>丨<a href="#">商家入驻</a></p>
					<p>粤ICP备05143967号 增值电信业务经营许可证: 粤B1.B2-20150312</p>
					<p>Copyright © 2016 深圳齐心集团股份有限公司(002301.SZ) 版权所有</p>
				</div>
				<div class="bank_list page1200">
					<a href="https://merchant.unionpay.com" target="_blank" rel="nofollow">
						<img border="0" alt="银联特约商户" src="../static/images/footer_new/82003.gif">
						<b class="br">中国银联<br>特约商户</b>
					</a>
					<a href="https://e.alipay.com/" target="_blank" rel="nofollow">
						<img border="0" alt="支付宝特约商户" src="../static/images/footer_new/82004.gif">
						<b class="br">支付宝<br>特约商户</b>
					</a>
					<a href="https://pay.weixin.qq.com/" target="_blank" rel="nofollow">
						<img border="0" alt="微信支付特约商户" src="../static/images/footer_new/82002.gif">
						<b class="br">微信支付<br>特约商户</b>
					</a>
					<a href="http://www.sznet110.gov.cn/netalarm/index.jsp" target="_blank" rel="nofollow">
						<img border="0" alt="深圳网络警察报警平台" src="../static/images/footer_new/816587.gif">
						<b class="br">深圳网络警<br>察报警平台</b>
					</a>
					<a href="http://www.sznet110.gov.cn/webrecord/innernet/Welcome.jsp?bano=4403601900653" target="_blank" rel="nofollow">
						<img border="0" alt="公共信息安全网络监察" src="../static/images/footer_new/6743671.gif">
						<b class="br">公共信息安<br>全网络监察</b>
					</a>
					<a href="/Promo/Icp" target="_blank" rel="nofollow">
						<img border="0" alt="经营性网站备案信息" src="../static/images/footer_new/ind36.gif">
						<b class="br">经营性网站<br>备案信息</b>
					</a>
					<a href="http://net.china.cn/chinese/index.htm" target="_blank" rel="nofollow">
						<img border="0" alt="不良信息举报中心" src="../static/images/footer_new/home_b.gif">
						<b class="br">不良信息<br>举报中心</b>
					</a>
					<a href="http://www.wenming.cn" target="_blank" rel="nofollow">
						<img border="0" alt="中国文明网传播文明" src="../static/images/footer_new/wmlogo.gif">
						<b class="br">中国文明网<br>传播文明</b>
					</a>
					<a href="http://szcert.ebs.org.cn/ade28099-e557-40e9-b8f1-2c85409bb5d5" target="_blank" rel="nofollow">
						<img border="0" alt="深圳市市场监督管理局企业主体身份公示" src="../static/images/footer_new/ebsIcon2.gif">
						<b class="br">工商网监<br>电子标识</b>
					</a>
					<a href="https://ss.knet.cn/verifyseal.dll?sn=e14112544030056384sfmy000000&amp;ct=df&amp;a=1&amp;pa=337337" target="_blank" rel="nofollow">
						<img style="width:105px;" border="0" alt="深圳市市场监督管理局企业主体身份公示" src="../static/images/footer_new/cxrz5.png">
					</a>
				</div>
			</div>
		</div>
		
		<!--取消订单弹出层-->
		<div class="pop_up">
			<div class="hd">取消订单（未收货）<span class="icon_close"><img src="../static/images/ico_close.png"></span></div>
			<div class="pop_up_con">
				<ul>
					<li>
						<span class="name">取消原因：</span>
						<div class="rt_box">
							<div class="select_con">送货时间长</div>
							<div class="select_list" style="display:none;">
								<span>未收到货</span>
								<span>商品价格太高</span>
								<span>送货时间长</span>
								<span>重复下单</span>
							</div>
						</div>
					</li>
					<li>
						<span class="name">姓名：</span>
						<div class="rt_box"><input type="text" class="input_text"></div>
					</li>
					<li>
						<span class="name">联系电话：</span>
						<div class="rt_box"><input type="text" class="input_text"></div>
					</li>
				</ul>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="30%">支付明细</td>
						<td>返款方式</td>
					</tr>
					<tr>
						<td>支付宝&nbsp;&nbsp;&nbsp;￥75.00</td>
						<td class="text_left">积分、余额将原返至您的账户，手机红包将原返至手机账户，其他请具体查看取消订单说明。</td>
					</tr>
				</table>
				<div class="tips">
					<p class="title">温馨提示：</p>
					<p>· 订单成功取消后无法恢复</p>
					<p>· 该订单已付金额将返还银行卡/京东账户</p>
					<p>· 拆单后取消订单，使用的京券和东券将不再返还</p>
				</div>
				<div class="btn_box">
					<input type="button" class="btn_ok" value="确定取消"><input type="button" class="btn_cancle" value="放弃取消">
				</div>

			</div>
		</div>
		<!--遮罩层-->
		<div class="mask"></div>
	</body>

</html>