/* order list */
.order_list {}
.order_list li {background: #fff; margin-bottom: 17px; padding: 0 25px;}
.shop_bar {border-bottom: 1px solid #f8f8f8; height: 60px; box-sizing: border-box; padding: 12px 0; position: relative;}
.shop_bar i {display: inline-block; width: 23px; height: 23px; background: url(../images/ico_tick_blank.png) no-repeat; position: relative; margin-right: 16px; top: 7px; float: left;}
.shop_bar i.active {background: url(../images/ico_tick_red.png);}

.shop_bar i.ico_shop {display: inline-block; background: url(../images/ico_shop.png); width: 27px; height: 26px; position: relative; margin-right: 16px; top: 7px; float: left;}

.shop_name {font-size: 25px; color: #333; line-height: 36px; float: left; margin-right: 26px; display: inline-block;}
.shop_bar .ico_chat {display: inline-block; background: url(../images/ico_service.png) no-repeat; width: 33px; height: 36px; float: left;}
.order_list li ul li {position: relative; padding-right: 0;}
.order_list li ul li > div {padding: 24px 0; border-bottom: 1px solid #f5f5f5; position: relative;}
.order_list li ul li .img {border: 1px solid #e8e8e8; border-radius: 8px; margin: 0 16px;}
.order_list .cp {width: 410px;}
.order_list .prod_name {font-size: 22px; color: #333; line-height: 34px; top: -6px; margin-bottom: 8px; position: relative;}
.order_list .cp .cRow {font-size: 20px; color: #999; line-height: 1.5;}
.order_list .cp .price {color: #f44c4c; font-size: 22px;}
.order_list .cp .discount {display: inline-block; position: relative; background: #ee3434; font-size: 17px; color: #fff; height: 26px; line-height: 26px; padding: 0 13px 0 10px; margin-left: 35px;}
.order_list .cp .discount:before {position: absolute; content: ''; display: inline-block; width: 0; height: 0; border-top: 13px solid transparent; border-bottom: 13px solid transparent; border-right: 15px solid #ee3434; left: -15px;}
.order_list .tAmount {position: absolute; right: 80px; top: 58px; padding: 0; margin: 0; float: left; font-size: 18px; color: #ccc;}
.order_list .refund {position: absolute; right: 0; bottom: 25px; font-size: 18px; color: #666;}

.btn {position: absolute; bottom: 25px; right: 0;}
.btn a {height: 48px; line-height: 48px; border-radius: 6px; display: inline-block; padding: 0 20px; background: #fff; border: 1px solid #e6e6e6; color: #333; font-size: 22px; text-align: center;}
.btn.btn_blue a {background: #fff; border-color: #00a0e9; color: #00a0e9;}

/* review section */
.review_section {background: #fff; padding: 10px 25px 50px; color: #333;}
.review_section .title {font-size: 25px; margin-bottom: 10px;}
.review_list {margin-bottom: 30px;}
.review_list li {position: relative; padding-left: 195px; height: 38px; line-height: 38px; font-size: 22px;}
.review_list label {position: absolute; left: 0; width: 180px; text-align: right;}

.stars {}
.stars li {display: inline-block; margin: 0 5px 0 0; padding: 2px 0; border: none;}
.stars li em {display: inline-block; width: 18px; height: 18px; background: url(../images/ico_star2.png) no-repeat;}
.stars li.active em {background: url(../images/ico_star1.png) no-repeat;}

.submit_review {text-align: center;}
.submit_review a {height: 48px; line-height: 48px; border-radius: 6px; display: inline-block; padding: 0 20px; background: #fff; border: 1px solid #ee3434; color: #ee3434; font-size: 22px; text-align: center;}


.review_msg {position: absolute; left: 0; top: 0; z-index: 100; width: 100%; height: 114px; line-height: 114px; text-align: center; color: #fff; font-size: 24px; background: rgba(238,52,52,.8);}


