@charset "utf-8";

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html { color: #1d1f20; background: #fff; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow-x: hidden; }
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, bottomPane, header, hgroup, menu, nav, section { margin: 0; padding: 0; }
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, bottomPane, header, hgroup, menu, nav, section { display: block; }
/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video { display: inline-block; *display: inline;*zoom: 1;}
/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea { font: 14px/1.5 'microsoft yahei', sans-serif; }
input, select, textarea { font-size: 100%; -webkit-appearance: none;}
/* 去掉各Table  cell 的边距并让其边重合 */
table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; empty-cells: show; border-collapse: collapse; }
/* IE bug fixed: th 不继承 text-align*/
th { text-align: inherit; }
/* 去除默认边框 */
fieldset, img { border: 0; }
/* ie6 7 8(q) bug 显示为行内表现 */
iframe { display: block; }
/* 去掉 firefox 下此元素的边框 */
abbr, acronym { border: 0; font-variant: normal; }
/* 一致的 del 样式 */
del { text-decoration: line-through; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 500; }
/* 去掉列表前的标识, li 会继承 */
ol, ul { list-style: none; }
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th { text-align: left; }
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }
q:before, q:after { content: ''; }
/* 统一上标和下标 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* 默认不显示下划线，保持页面简洁 */
ins, a { text-decoration: none; }
/* 清理浮动 */
.fn-clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.fn-clear { zoom: 1; /* for IE6 IE7 */ }
/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide { display: none; }
html, body { min-height: 100%; background-color: #fff; width: 100%;}
/* 设置内联, 减少浮动带来的bug */
.fn-left, .fn-right { display: inline; }
.fn-left { float: left; }
.fn-right { float: right; }
.fL { float: left; }
.fR { float: right; }
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

/*common*/

/* FlexSlider Necessary Styles */
.flexslider{margin:0;padding:0}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden}
.flexslider .slides img{width:100%;display:block}
.flex-pauseplay span{text-transform:capitalize}

/* Clearfix for the .slides element */
.slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0}
html[xmlns] .slides{display:block}
* html .slides{height:1%}
* {outline: none;}
/* No JavaScript Fallback */
.no-js .slides > li:first-child{display:block}

/* FlexSlider Default Theme */
.flexslider{position:relative;zoom:1}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}
.loading .flex-viewport{max-height:300px}
.flexslider .slides{zoom:1}
.carousel li{margin-right:5px}

/* Pause/Play */
.flex-pauseplay a{display:block;width:20px;height:20px;position:absolute;bottom:5px;left:10px;opacity:0.8;z-index:10;overflow:hidden;cursor:pointer;color:#000}
.flex-pauseplay a:before{font-family:"flexslider-icon";font-size:20px;display:inline-block;content:'\f004'}
.flex-pauseplay a:hover{opacity:1}
.flex-pauseplay a.flex-play:before{content:'\f003'}

/* Control Nav */
.flex-control-nav{width:100%;position:absolute;bottom:5px;text-align:center; z-index: 16;}
.flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline}
.flex-control-paging li a{width:13px;height:13px;display:block;background:rgba(210,210,210,.56);zcursor:pointer;text-indent:-9999px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;}
.flex-control-paging li a:hover{background:#fff;}
.flex-control-paging li a.flex-active{background:#fff;cursor:default}

.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden}
.flex-control-thumbs li{width:25%;float:left;margin:0}
.flex-control-thumbs img{width:100%;display:block;opacity:.7;cursor:pointer}
.flex-control-thumbs img:hover{opacity:1}
.flex-control-thumbs .flex-active{opacity:1;cursor:default}

/* headline */
h3.title {color: #323232; font-size: 25px; line-height: 1.2; text-align: center; padding: 10px 0; display: inline-block; position: relative; letter-spacing: 1px;}
h3.title:before {position: absolute; left: -40px; width: 31px; height: 1px; background: #e7686c; top: 25px; content: ''; display: inline-block;}
h3.title:after {position: absolute; right: -40px; width: 31px; height: 1px; background: #e7686c; top: 25px; content: ''; display: inline-block;}

.wrapper {background: #f6f6f6;}
/* main Content */
.mainContent {width:100%; box-sizing: border-box; position: relative; z-index: 15; padding-bottom: 98px; z-index: 18;}
.pageWidth { width: 640px; margin: 0 auto; position: relative;}

/* footer */
.footer {background: #fff; position: fixed; bottom: 0; left: 0; width: 100%; padding: 22px 10px; box-shadow: 0 -7px 13px rgba(0,0,0,.1); height: 98px; z-index: 50; text-align: center; box-sizing: border-box; }
.footerNav {margin:  0 auto;}
.footerNav li {display: inline-block; width: 25%; text-align: center; float: left;}
.footerNav li a {font-size: 17px; color: #999;}
.footerNav li a:hover, .footerNav li.active a {color: #ee3434;}
.footerNav li em {display: block; margin: 0 auto 6px;}
.footerNav li.nav1 em {width: 40px; height: 40px; background: url(../images/nav/nav1_normal.png) no-repeat;}
.footerNav li.nav2 em {width: 40px; height: 40px; background: url(../images/nav/nav2_normal.png) no-repeat;}
.footerNav li.nav3 em {width: 48px; height: 40px; background: url(../images/nav/nav3_normal.png) no-repeat;}
.footerNav li.nav4 em {width: 40px; height: 40px; background: url(../images/nav/nav4_normal.png) no-repeat;}

.footerNav li.nav1.active em, .footerNav li.nav1:hover em {width: 40px; height: 40px; background: url(../images/nav/nav1_active.png) no-repeat;}
.footerNav li.nav2.active em, .footerNav li.nav2:hover em {width: 40px; height: 40px; background: url(../images/nav/nav2_active.png) no-repeat;}
.footerNav li.nav3.active em, .footerNav li.nav3:hover em {width: 48px; height: 40px; background: url(../images/nav/nav3_active.png) no-repeat;}
.footerNav li.nav4.active em, .footerNav li.nav4:hover em {width: 40px; height: 40px; background: url(../images/nav/nav4_active.png) no-repeat;}

.footer.fP {width: 640px; height: 84px; padding: 0; margin: 0 auto; left: 50%; margin-left: -320px;}
.footerP li {display: inline-block; float: left; width: 90px; height: 84px; position: relative;}
.footerP li a {display: inline-block; width: 90px; height: 84px; text-align: center; float: left;}
.footerP li a span {display: block; text-align: center; font-size: 14px; color: #666;}
.footerP li a em {display: inline-block; margin: 12px auto 2px; height: 36px;}
.footerP li.f_cart i {display: inline-block; position: absolute; top: 5px; right: 10px; background: #ee3434; height: 20px; line-height: 20px; border-radius: 10px; color: #fff; font-size: 14px; padding: 0 5px; text-align: center; min-width: 20px; box-sizing: border-box; font-style: normal;}
.footerP .f_fav em {width: 36px; background: url(../images/ico_star.png) no-repeat;}
.footerP .f_cart em {width: 43px; background: url(../images/ico_cart.png) no-repeat;}
.footerP .f_service em {width: 33px; background: url(../images/ico_service.png) no-repeat;}
.footerP li.add_to_cart, .footerP li.buy_now {width: 185px;}
.footerP li.add_to_cart a {width: 185px; background: #666; color: #fff; height: 84px; line-height: 84px; font-size: 24px; text-align: center;}
.footerP li.buy_now a {width: 185px; background: #ee3434; color: #fff; height: 84px; line-height: 84px; font-size: 24px; text-align: center;}

/* KV */
.kvSlider {position: relative; text-align: center;}
.kvSlider .slides li > a {position: relative; width: 100%; display: block;}

/* kvSlider Direction Nav */
.kvSlider .flex-direction-nav {}
.kvSlider .flex-direction-nav  .flex-prev:hover, #wSlider .flex-direction-nav  .flex-next:hover {opacity: .7;}
.kvSlider .flex-direction-nav .flex-prev {width: 22px; height: 60px; display: inline-block; left: 0; top: 50%; margin-top: -30px; position: absolute;}
.kvSlider .flex-direction-nav .flex-next {width: 22px; height: 60px;display: inline-block; right: 0; top: 50%; margin-top: -30px; position: absolute;}

/* search_box in KV */
.search_box {position: absolute; width: 95%; left: 2.5%; top: 11px; background: rgba(186,44,34,.8); height: 50px; line-height: 50px; z-index: 9999; border-radius: 25px; text-align: center;}
.search_box.focused {background: rgba(186,44,34,1);}
.search_box em {display: inline-block; background: url(../images/ico_search.png) no-repeat; width: 30px; height: 26px; top: 5px; right: 5px; position: relative;}
.search_box input {background: transparent; border: none; height: 50px; line-height: 50px; color: #fff; font-size: 20px; width: 200px; transition: all .5s ease;}
.search_box.focused input {width: 500px;}

.search_box ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
 .search_box ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.search_box :ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.search_box :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/* slide_tabs */
.slide_tabs {background: #fff; height: 153px; margin-bottom: 15px;}
.slide_tabs.top {height: 83px;}
.cate_tabs_slider {border-top: 1px solid #eee; margin-bottom: 15px; position: relative;}
.cate_tabs_slider:after {position: absolute; content: ''; right: 0; top: 0; height: 100%; width: 50px; background: url(../images/mask.png) repeat-y 0 0; z-index: 999;}
.cate_tabs {padding: 15px 0;}
.slide_tabs.top .cate_tabs {padding-top: 0;}
.cate_tabs li {display: inline-block; text-align: center; float: left; padding: 10px 0;}
.cate_tabs li a {f noont-size: 17px; color: #999;}
.cate_tabs li a:hover, .cate_tabs li.active a {color: #ee3434;}
.cate_tabs li em {display: block; margin: 0 auto 6px;}
.cate_tabs li.tab1 em {width: 36px; height: 36px; background: url(../images/tabs/tab1_normal.png) no-repeat;}
.cate_tabs li.tab2 em {width: 36px; height: 36px; background: url(../images/tabs/tab2_normal.png) no-repeat;}
.cate_tabs li.tab3 em {width: 36px; height: 36px; background: url(../images/tabs/tab3_normal.png) no-repeat;}
.cate_tabs li.tab4 em {width: 36px; height: 36px; background: url(../images/tabs/tab4_normal.png) no-repeat;}
.cate_tabs li.tab5 em {width: 36px; height: 36px; background: url(../images/tabs/tab5_normal.png) no-repeat;}
.cate_tabs li.tab6 em {width: 36px; height: 36px; background: url(../images/tabs/tab6_normal.png) no-repeat;}
.cate_tabs li.tab7 em {width: 62px; height: 36px; background: url(../images/tabs/tab7_normal.png) no-repeat;}
.cate_tabs li.tab8 em {width: 36px; height: 36px; background: url(../images/tabs/tab8_normal.png) no-repeat;}
.cate_tabs li.tab9 em {width: 36px; height: 36px; background: url(../images/tabs/tab9_normal.png) no-repeat;}
.cate_tabs li.tab10 em {width: 36px; height: 36px; background: url(../images/tabs/tab10_normal.png) no-repeat;}

.cate_tabs li.active {background: #e0121d; position: relative;}
.cate_tabs li.active:after {position: absolute; content: ''; left: 50%; margin-left: -5px; bottom: -8px; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 8px solid #e0121d;}
.cate_tabs li.active a {color: #fff;}
.cate_tabs li.tab1.active em, .cate_tabs li.nav1:hover em {width: 36px; height: 36px; background: url(../images/tabs/tab1_active.png) no-repeat;}
.cate_tabs li.tab2.active em, .cate_tabs li.nav2:hover em {width: 36px; height: 36px; background: url(../images/tabs/tab2_active.png) no-repeat;}
.cate_tabs li.tab3.active em, .cate_tabs li.nav3:hover em {width: 36px; height: 36px; background: url(../images/tabs/tab3_active.png) no-repeat;}
.cate_tabs li.tab4.active em, .cate_tabs li.nav4:hover em {width: 36px; height: 36px; background: url(../images/tabs/tab4_active.png) no-repeat;}
.cate_tabs li.tab5.active em, .cate_tabs li.nav5:hover em {width: 36px; height: 36px; background: url(../images/tabs/tab5_active.png) no-repeat;}
.cate_tabs li.tab6.active em, .cate_tabs li.nav6:hover em {width: 36px; height: 36px; background: url(../images/tabs/tab6_active.png) no-repeat;}
.cate_tabs li.tab7.active em, .cate_tabs li.nav7:hover em {width: 62px; height: 36px; background: url(../images/tabs/tab7_active.png) no-repeat;}
.cate_tabs li.tab8.active em, .cate_tabs li.nav8:hover em {width: 36px; height: 36px; background: url(../images/tabs/tab8_active.png) no-repeat;}
.cate_tabs li.tab9.active em, .cate_tabs li.nav9:hover em {width: 36px; height: 36px; background: url(../images/tabs/tab9_active.png) no-repeat;}
.cate_tabs li.tab10.active em, .cate_tabs li.nav10:hover em {width: 36px; height: 36px; background: url(../images/tabs/tab10_active.png) no-repeat;}



/* category search */
.category_search {height: 80px;}
.category_search .search_box {background: #fff; border-radius: 8px; color: #999;}
.category_search .search_box ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
 .category_search .search_box ::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
.category_search .search_box :ms-input-placeholder { /* IE 10+ */
  color: #999;
}
.category_search .search_box :-moz-placeholder { /* Firefox 18- */
  color: #999;
}
.category_search .search_box em {background: url(../images/ico_search_gray.png) no-repeat; width: 31px; height: 29px;}

.category_search .search_box input {color: #999;}
.category_search .search_box.focused {background: #fff;}


/* search_box in KV */
.search_box {position: absolute; width: 95%; left: 2.5%; top: 11px; background: rgba(186,44,34,.8); height: 50px; line-height: 50px; z-index: 9999; border-radius: 25px; text-align: center;}
.search_box.focused {background: rgba(186,44,34,1);}
.search_box em {display: inline-block; background: url(../images/ico_search.png) no-repeat; width: 30px; height: 26px; top: 5px; right: 5px; position: relative;}
.search_box input {background: transparent; border: none; height: 50px; line-height: 50px; color: #fff; font-size: 20px; width: 200px; transition: all .5s ease;}
.search_box.focused input {width: 500px;}


